{% import "_macros" as macros %}

<header class="container mx-auto">

	{# main nav #}
	<ul class="list-reset">
		<li><a href="{{ siteUrl }}">Home</a></li>
		<li><a href="{{ loginUrl }}">Log in</a></li>
		<li><a href="{{ url('register') }}">Register</a></li>
	</ul>

</header>
