{#
	Members forgot password page
	-------------------------

#}

{% extends "_layouts/auth.twig" %}
{% import "_macros" as macros %}

{% set title = 'Forgot password?' %}
{% set description = 'If you’re having problems logging into your account, enter your email address and we’ll send you a link to reset your password' %}

{% block content %}

	<form class="max-w-sm mx-auto" method="post" accept-charset="UTF-8">
	    {{ csrfInput() }}
	    <input type="hidden" name="action" value="users/sendPasswordResetEmail">
	    <input type="hidden" name="redirect" value="">

		{{ macros.textField({
			name: 'loginName',
			label: 'Email address',
			placeholder: 'Type your email address'
		}) }}

		{{ macros.submit({
			submit: 'Send reset link'
		})}}

	</form>

{% endblock %}
