{#
	Members Log in page
	-------------------------

#}

{% extends "_layouts/auth.twig" %}
{% import "_macros" as macros %}

{% set title = 'Log in' %}
{% set description = 'Log in to your account' %}

{% block content %}

	<form class="max-w-sm mx-auto" method="post" accept-charset="UTF-8">
	    {{ csrfInput() }}
	    <input type="hidden" name="action" value="users/login">

		{{ macros.textField({
			name: 'loginName',
			label: 'Email address',
			placeholder: 'Type your email address'
		}) }}

		{{ macros.textField({
			name: 'password',
			type: 'password',
			label: 'Your password',
			placeholder: 'Type your password',
			forgotPassword: true
		}) }}

		{{ macros.submit({
			submit: 'Log in'
		})}}

	</form>

{% endblock %}
