/*

@font-face {
    font-family: 'example font';
    src: url('../fonts/example-font/font.woff2') format('woff2'),
         url('../fonts/example-font/font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
};

*/
