{#
	Layout for Auth pages
	-------------------------

#}

{% extends "_layouts/_base.twig" %}

{% block body %}

	{# Main wrapper #}
	<main class="container mx-auto text-center">

		{# Page Title #}
		<h1>{{ title }}</h1>
		<p>{{ description }}</p>

		{# Page content #}
		{% block content %}{% endblock %}
	</main>
{% endblock %}

