 {#
    Main wrapper for standard pages
    -------------------------

#}

{% extends "_layouts/_base.twig" %}
{% import "_macros" as macros %}

{% block body %}

	<main>
		{% block content %}{% endblock %}
	</main>

{% endblock %}

