{% extends "_layouts/main.twig" %}
{% import "_macros" as macros %}

{# Set Meta #}
{% set title = 'Default Page' %}

{% block content %}

	<h1 class="text-6xl t-full">Page template</h1>

	<p class="font-sans">Lorem ipsum dolor sit amet consectetur adipiscing elit vestibulum sapien convallis duis gravida malesuada aenean euismod ornare accumsan habitasse orci</p>

{% endblock %}


