{% extends "_layouts/auth.twig" %}
{% import "_macros" as macros %}

{# Set Meta #}
{% set title = '(400) Bad Request' %}
{% set description = 'The request could not be understood by the server due to malformed syntax.' %}

{% block content %}

	<div class="mb-8 pt-8 mx-auto text-center">
		<h1>{{ title }}</h1>
		<p>{{ description }}</p>
	</div>

{% endblock %}
