{% extends "_layouts/auth.twig" %}
{% import "_macros" as macros %}

{# Set Meta #}
{% set title = '(503) Service Unavailable' %}
{% set description = 'Our system is currently under maintenance, please try again later.' %}

{% block content %}
	<div class="mb-8 pt-8 mx-auto text-center">
		<h1>{{ title }}</h1>
		<p>{{ description }}</p>
	</div>
{% endblock %}
